[submodule "foodify-backend"]
	path = foodify-backend
	url = https://github.com/khuenguyen2611/foodify-backend.git
[submodule "foodify-user"]
	path = foodify-user
	url = https://github.com/khuenguyen2611/foodify-user
[submodule "foodify-frontend"]
	path = foodify-frontend
	url = https://github.com/khuenguyen2611/foodify-frontend.git
[submodule "Foodify"]
	path = Foodify
	url = https://github.com/Nez27/Foodify.git
